// colors

// base


// pallete
$primary: #1D1C1C;
$primaryDark: #000000;

$primaryCard: rgba(0, 0, 0, 0.25);
$secondaryCard: rgba(0, 0, 0, 0.8);

$primaryAccent: #DD1C10;
$secondaryAccent: #EB5757;

$primaryText: #C8BFBF;
$secondaryText: #F2F2F2;

$primaryTextAccent: #FFFFFF;
$secondaryTextAccent: #CBC3C3;


// dimensions

$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 32px;
$extra-large-spacing: 64px;
