<div class="about-content">
 <div #aboutMe><span></span> <span class='caret'>&nbsp;</span></div>
 <div class="divider large"></div>
 <div>Experience and Education : <a target="_blank" [href]="portfolioService?.user?.experienceLink">{{portfolioService?.user?.experienceLink}}</a></div>
 <div class="divider large"></div>
 <div class="languages card">
   <div *ngFor="let language of portfolioService?.user?.languages">
      <div  class="language"><img src="../../../../assets/speech-bubble.svg"/> <span>{{language.title}}</span><span class="divider">-</span><span>{{language.level}}</span></div>
      <div class="divider small"></div>
    </div>
 </div>

</div>

