@import "src/app//styles/variables.scss";

.languages {
  display: grid;
  background-color: $primaryCard;
  padding: $medium-spacing;
  border-radius: 4px;
}
.language {
  display: inline-flex;
  img {
    margin-right: $medium-spacing;
  }
  .divider {
    margin-right: $small-spacing;
    margin-right: $small-spacing;
  }
}

.content {
  width: 50%;
}
