@import "src/app//styles/variables.scss";
@import "src/app//styles/animations.scss";

.about-content {
  overflow: hidden;
  height: 0%;
  width: 100%;

  @include animate(height-expand-max-anim, .5s, .5s, 1, ease);
}

.caret {
  @include animate(blink, 1s, 0s, infinite, step-end);
  border-right: 2px solid $secondaryAccent;
  
  &.underscore {
    border-right: none;
    border-bottom: 2px solid $secondaryAccent;
    display: inline-flex;
    width: 12px;
  }
}

.languages {
  display: grid;
}
.language {
  display: inline-flex;
  img {
    margin-right: $medium-spacing;
    width: 24px;
    height: 24px;
  }
  .divider {
    margin-right: $small-spacing;
    margin-left: $small-spacing;
  }
}

.content {
  width: 50%;
}
