<div class="container">
  <div class="content">
  <div class="row">
    <div class="column">
      <div class="image-container">
        <img src="../../../../assets/sample-project-image.png">
      </div>
      <div class="image-container">
        <img src="../../../../assets/sample-project-image.png">
      </div>
      <div class="image-container">
        <img src="../../../../assets/sample-project-image.png">
      </div>
    </div>
    <div class="column">
      <span>Title</span>
      <div class="divider small"></div>
      <span class="highlight">2007</span>
      <div class="divider medium"></div>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</span>
    </div>
  </div>
  <div class="divider medium"></div></div>
</div>
