@import "src/app//styles/variables.scss";

.video-container {
  margin: auto;
  height: auto;
  width: 100%;

  &.solo {
    height: 100%;
  }
}

.images-container {
  overflow: auto;
  display: inline-grid;
  /* height: 100px; */
  width: 100%;
  margin-bottom: 16px;
  img {
    height: 100%;
    width: auto;
    margin-right: 8px;

    &:focus {
      width: 65%;
      height: auto;
      top: 40%;
    }
  }
}

.inner {
  height: 100px;
  width: auto;
  display: flex;
  /* margin: auto; */
}
