@import "src/app//styles/variables.scss";

.video-container {
  margin: auto;
  height: auto;
  width: 100%;

  &.solo {
    height: 100%;
  }
}

.images-container {
  overflow: auto;
  display: inline-grid;
  /* height: 100px; */
  width: 100%;
  margin-bottom: 16px;
  img {
    height: 100%;
    width: auto;
    margin-right: 8px;

    &:focus {
      width: 65%;
      height: auto;
      top: 40%;
    }
  }
}

.inner {
  height: 100px;
  width: auto;
  display: flex;
  /* margin: auto; */
}

.play-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-mask-image: url('src/assets/arrow-back.svg');
  mask-image: url('src/assets/arrow-back.svg');
  background-color: $primaryAccent;
  mask-size: 32px;
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &.right {
  -webkit-mask-image: url('src/assets/arrow-forward.svg');
  mask-image: url('src/assets/arrow-forward.svg');
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
    background-color: #474843;
    mask-size: 24px;
  }
}
