
<!-- Toolbar -->
<div class="main">
  <div class="background remove-selection">
    <span>Anilde</span>
    <span>Santo</span>
  </div>
    <router-outlet></router-outlet>
  <div class="footer remove-selection" >
    <div class="info">
      <div>{{user?.firstName}} {{user?.lastName}}</div>
      <div>{{user?.occupation}}</div>
      <div>{{user?.base}}</div>
    </div>
<!--
    <div class="Character">
      <img class="Character_shadow pixelart" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacterShadow.png" alt="Shadow" />
      <img class="Character_spritesheet pixelart face-down" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacter.png" alt="Character" />
   </div> -->
  </div>
</div>
