
<div class="artwork-controller">
  <span class="card secondary">{{selectedArtwork?.title}}</span>
  <div class="divider small"></div>

  <div class="control-buttons card secondary">
    <button [disabled]="isStart" class="play-button left" (click)="move(false)"></button>
    <button [disabled]="isEnd" class="play-button right" (click)="move(true)"></button>
  </div>


</div>

<div #artcontainer class="artwork-container">
  <!-- Artworks -->
  <app-artwork *ngFor="let artwork of artworks" [artwork]="artwork"></app-artwork>
  <!-- Lamp -->
  
   <!-- REVIEWME - check light integration and if it's still necessary - DO SPOT LIGHT -->
    <!-- <div [ngClass]="lightsOn ? 'lamp on' : 'lamp'">
      <div class="bulb">
        <button class="switch" (click)="toggleLight()" ></button>
        <div class="light">
          <span class="direction"></span>
          <span class="illumination"></span>
        </div>
        <div class="glass"></div>
      </div>
    </div> -->
 
</div>
