@import "src/app//styles/variables.scss";
@import "src/app/styles/animations.scss";

.selection-indicator {
transition: all 0.3s ease-in-out;
position: absolute;
width: 120px;
height: $extra-small-spacing;
  .view {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 0%;
    bottom: 0%;
    background: $primaryAccent;
    transform: matrix(1, 0, 0, -1, 0, 0);

    //animate
    @include animate(glow-anim, 2.5s, 0s, infinite, ease);
  }
}