@import "./app/styles/variables.scss";
@import "./app/styles/animations.scss";

html {
  position: absolute;
}
html, body {
  height: 100%;
  width: 100%; }


body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #1D1C1C;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  color: $primaryText;
  font-size: 18px;
}

.remove-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: $secondaryAccent;
  &.selected, &:hover, &:focus{
    color: $primaryAccent;
    outline: none;
  }
}
.main {
  position: absolute;
  height: 100%;
  width: 100%;
}
.container {
  transition: all 0.3s ease-in-out;
  position: absolute;
  display: block;
  width: 50%;
  height: 70%;
  // center vertically and horizontally
  margin: 0;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  &.wide {
    width: 80%;
  }
}
.background {
  display: grid;
  position: fixed;
  font-family: 'Monoton', cursive;
  margin: auto;

  font-style: normal;
  font-weight: normal;
  font-size: 18vw;
  letter-spacing: 0.08em;

  color: rgba(89, 84, 84, 0.05);
  height: 100%;
  width: 100%;

  * {
    position: relative;
    animation: moveLeft 380s infinite ease;
  }

  :nth-child(2) {
    animation-name: moveRight ;
  }
}

.footer {
  position: fixed;
  left: 4%;
  bottom: 4%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  .info {
    :nth-child(1) {
      font-family: 'Montez', cursive;
      font-size: $large-spacing;
      line-height: 42px;
      color: $secondaryTextAccent;
      stroke: azure;
      stroke-width: thin;
      -webkit-text-stroke: azure;
      -webkit-text-stroke-width: thin;
    }
    :nth-child(2) {
      font-size: $medium-spacing;
      line-height: 20px;
      color: $primaryAccent;
    }
    :nth-child(3) {
      font-size: 12px;
      line-height: 15px;
    }
  }

}

.content {
  height: 100%;
  padding: $large-spacing;
  // background: $primaryCard;
  border: 1px solid $primaryDark;
  box-sizing: border-box;
  // box-shadow: 0px 4px 4px $primaryCard;
  box-shadow: 0px 4px 32px rgb(0 1 0);
  border-radius: 0px 0px 4px $extra-small-spacing;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  margin: auto;

  &.small {
    width: 50%;
  }

  @extend .custom-scrollbar;
}
.custom-scrollbar {
  //IE
  scrollbar-face-color: $primaryAccent;
  scrollbar-track-color:rgba(0, 0, 0, 0.1);
  scrollbar-arrow-color: $primaryAccent;

  // firefox
  scrollbar-color: $primaryAccent  rgba(100, 100, 100, .2);
  scrollbar-width: thin;

  // other
  &::-webkit-scrollbar {
    width: $small-spacing;
    height: $small-spacing;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: $extra-small-spacing;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primaryAccent;
    border-radius: $extra-small-spacing;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $secondaryAccent;
  }
}


.tools-container {
  width: 100%;
  // height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 100px;

  .tools {
    display: inline-flex;
    font-size: $medium-spacing;
    width: max-content;
    // height: min-content;
  }

  @extend .custom-scrollbar;

   //IE
   scrollbar-face-color: rgba(0, 0, 0, 0.8);
   scrollbar-arrow-color:rgba(0, 0, 0, 0.8);

   // firefox
   scrollbar-color: rgba(0, 0, 0, 0.8)  rgba(100, 100, 100, .2);

  &::-webkit-scrollbar {
    height: $extra-small-spacing;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 0px 0px 100px 100px;
    background: rgba(0, 0, 0, 0.1);
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 0px 0px 100px 100px;
    background: rgba(0, 0, 0, 0.8);
  }


  .tool-icon {
    padding: 8px;
    background-color: $primaryCard;
    margin-right: $extra-small-spacing;
    transition: all 0.3s ease-in;
    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      color: #ffff;
      background-color: $secondaryCard;
    }
  }
}


img {
  box-shadow: 0px 4px 4px #000000;
  border-radius: $small-spacing;
  width: 100%;
  cursor: pointer;
  &:hover, &:focus {
    box-shadow: 0px 0px 4px $secondaryTextAccent;
  }
}

.project-title {
  // color: azure;;
}

.images-container {
  overflow: auto;
  display: inline-grid;

  @extend .custom-scrollbar;
  img {
    height: 100%;
    width: 100%;

    &:focus {
        width: fit-content;
        position: absolute;
        width: 65%;
        height: auto;
        left: 50%;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease;
        top: 40%;
      }
  }
}
.error-text {
  // visibility: hidden;
  display: none;
  color: $primaryAccent;
  font-size: $medium-spacing;
  margin-top: $small-spacing;
  margin-bottom: $small-spacing;

  transition: none;
}

input, textarea {
  padding: $small-spacing;
  border-radius: $small-spacing;
  border: 1px solid #5656569e;
  width: 50%;
  margin: auto;
  background: $secondaryCard;
  min-width: 50%;
  color: $primaryText;

  &.ng-invalid.ng-touched {
    border-color: $primaryAccent;
  }

  &.ng-invalid.ng-touched + .error-text {
    display: block;
    // visibility: visible;
    transition: all 0.5s ease-in;
  }
}

textarea {
  height: 150px;
  width: 92%;
  max-width: 92%;
  max-height: 300px;
  min-height: 50px;
}

button {
  padding: $small-spacing;
  width: 100px;
  border-radius: $large-spacing;
  background-color: $primaryText;
  color: $black;
  border: 2px solid $white;

  &:hover, &:focus {
    color: $white;
    background-color: gray;
    outline: none;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: $large-spacing;
  justify-content: center;
  height: inherit;
  &.two {
    grid-template-columns: repeat(2, 50%);
  }
}

.divider {
  margin-top: $extra-small-spacing;
  &.small {
    margin-top: $small-spacing;
  }
  &.medium {
    margin-top: $medium-spacing;
  }
  &.large {
    margin-top: $large-spacing;
  }
  &.extra-large {
    margin-top: $extra-large-spacing;
  }
}

.highlight {
  color: $primaryAccent;
}

.card {
  background-color: $primaryCard;
  padding: $medium-spacing;
  border-radius: $extra-small-spacing;
  transition: all 0.3s ease-in-out;

  &.secondary {
    background-color: $secondaryCard;
  }
}
// media queries
@media screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
  }

  .grid-layout, .grid-layout.two {
    grid-template-columns: 100%;
    flex-direction: column;
  }
}


@media screen and (max-width: 768px) {

  .background {
    font-size: 44vw;
  }
  .container {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: none;
    -ms-transform: none;
    &.wide {
      width: 100%;
    }
  }

  .content {
    height: 100%;
  }

  input, textarea {
    width: 92%;
  }
  .footer {
    width: 18px;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $primaryAccent;
    height: 100px;
    transition: all 0.5s ease-in;
    border-radius: 4px;
    bottom: 8px;
    &:hover, &:focus {
      width: 100%;
      padding: 8px;
      background-color: rgb(60 55 55 / 99%);
      //  background-color: rgba(0, 0, 0, 0.9);
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 520px) {
  .column {
    &:first-child {
      flex: 0 0 0px;
    }
  }
  .content {
    width: 100%;
  }
}

// animations




