@import "src/app//styles/variables.scss";

// functions
@mixin animate($animationName,$duration, $delay, $iterationCount: 1,$timingFunction: inherit, $fillMode: forwards) {
  animation-name: $animationName;  
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $iterationCount;
  animation-timing-function: $timingFunction;
  animation-fill-mode: $fillMode;
}

// Styling
.image-container {
  width: 100%;
  position: relative;
}

.ribbon-live {
  position: absolute;
  width: 8%;
  height: 30%;
  background: $primaryAccent;
  top: -10px;
  left: 25px;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;

  // animate
  @include animate(height-expand-anim, .5s, .2s, 1, ease);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid $secondaryAccent; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid $secondaryAccent;
    visibility: hidden;

    // animate
    @include animate(appear-anim, .5s, .2s, 1, ease-out);
  }

  //Display text vertically and centered
  p {
    width:1%;
    word-wrap: break-word;
    margin: 40%;
    margin-top: 15%;
    font-size: 55%;
    white-space: break-spaces;
    font-weight: bold;
    font-family: 'Monoton';
  }
}


// animations
@keyframes height-expand-anim {
  0% {height: 0%; }
  100% {height: 30%; }
}

@keyframes appear-anim {
  from { visibility: hidden; }
  to  { visibility: visible; }
}

@keyframes expand-anim {
  0% {
    height: 0%;
    width: 0%;
  }

  100%{
    height:100%;
    width: 100%;
  }
}



