@import "src/app/styles/variables.scss";
@import "src/app/styles/animations.scss";

// Styling
.image-container {
  width: 100%;
  position: relative;

  img {
    width: 0%;
    height: 0%;

    // animate
    @include animate(expand-anim, .5s, .2s, 1, ease);
  }
}

.project-intro {
  overflow: hidden;
  height: 100%;
  width: 0%;
  @include animate(width-expand-max-anim, .5s, .5s, 1, ease);
}

.ribbon-live {
  position: absolute;
  width: 8%;
  height: 0%;
  background: $primaryAccent;
  top: -10px;
  left: 25px;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;

  // animate
  @include animate(height-expand-anim, .5s, .2s, 1, ease);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid $secondaryAccent; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid $secondaryAccent;
    visibility: hidden;

    // animate
    @include animate(appear-anim, .5s, .2s, 1, ease-out);
  }

  //Display text vertically and centered
  p {
    width:1%;
    word-wrap: break-word;
    margin: 40%;
    margin-top: 15%;
    font-size: 55%;
    white-space: break-spaces;
    font-weight: bold;
    font-family: 'Monoton';
  }
}