@import "src/app//styles/variables.scss";

:host {
  height: 100%;
  width: 100%;
}

.artwork {
  height: inherit;
  transition: all 0.3s ease-in-out;
}

.image-container {
    width: fit-content;
    height: 100%;
    margin: auto;

  img {
    box-shadow: 0px 4px 4px #000000;
    border-radius: 8px;
    height: 100%;
  }
}

